[submodule "mkmh"]
	path = mkmh
	url = https://github.com/edawson/mkmh.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "bash-tap"]
	path = bash-tap
	url = https://github.com/illusori/bash-tap
[submodule "kseq_reader"]
	path = kseq_reader
	url = https://github.com/edawson/kseq_reader
